<% if comment.id %>
  <li class="list-group-item container-fluid comment_<%= comment.id %>">
    <p>
      <span class="" ><%= comment.text %></span>
      <strong><%= comment.account.email %></strong>
      <% if policy(comment).edit? %>
        <%= link_to 'Edit', edit_comment_path(comment), remote: true %> |
      <% end %>
      <% if policy(comment).edit? || policy(@post).edit? %>
        <%= link_to 'Delete', comment_path(comment),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, remote: true %>
      <% end %>
    </p>
  </li>
<% end %>
