<div class="card request_card_<%= request.id %>" >
  <div class="card-body">
        <p>
          <p class="card-text">
            <% if request.sender.profile_pic.attached? %>
              <%= image_tag(request.sender.profile_pic, height: 70, width: 70, class:"rounded-circle border-top-0 cropped1")  %>
              <%#= link_to 'Remove',to: @post.images[image].purge %>
            <% else %>
              <%= image_tag('default.png', width: 70,class:"rounded-circle border-top-0 cropped1")  %>
            <% end %>
          </p>
        </p>
    <h5 class="card-title"><%= request.sender.username %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= request.sender.email %></h6>
    <p class="card-text"><%= time_ago_in_words(request.created_at) %></p>
    <%= link_to 'Accept', request_path(request) , method: :put, class:"card-link", remote: true %> |
    <%= link_to 'Reject', request_path(request),
                method: :delete,
                class:"card-link", remote: true %>
  </div>
</div>
