if ( $(".request_card_<%= @request.id %>").length )
{
  $(".request_card_<%= @request.id %>").remove()
}
else
{
  $(".follow_<%= @request.recipient_id %>").replaceWith('<%= j render 'accounts/follow_form', account: @request.recipient %>')
  if ( $(".follower_<%= @request.sender_id %>").length )
  {
    $(".follower_<%= @request.sender_id %>").remove()
    $(".followers_count").replaceWith('<h5 class="title followers_count"><strong>Followers (<%= followers_count(@request.recipient_id) %>) <strong></h5>')
  }
  $("#notice").text('Successfully Unfollowed.')
  if ('<%= @request.recipient.is_private.to_s %>' == 'true') {
    $(".show_profile").remove()
  }
}
