<div class=" container-fluid story_<%= story.id %>" >
  <% if (policy(story).destroy?) %>
    <%#= link_to 'Edit', edit_story_path(story) %>
    <%= link_to 'Delete', story_path(story),
              method: :delete,
              data: { confirm: 'Are you sure?' }, remote: true %>
  <% end %>
  <div class="card-body">
    <strong><%= story.account.email %></strong>
    <p class="card-text">
      <%= cl_image_tag(story.image.key, height: 300, width: 300, class:'rounded cropped1' ) if story.image.attached? %>
    </p>
    <strong><%= story.description %></strong>
    <p class="card-text caption"><%= time_ago_in_words(story.created_at) %></p>
  </div>
</div>
