<%= form_with  model: @post, remote: true do |form| %>
  <%= render "devise/shared/error_messages", resource: @post %>

  <p>
    <%= form.label :images %><br>
    <p class="card-text">
      <% if @post.images.attached? %>
        <% (0...@post.images.count).each do |image|%>
          <%= cl_image_tag(@post.images[image].key, width: 500, cloud_name: 'devsinc-rails-test-project', class:"post_has_image post_#{@post.id}_image_#{image}" )%>
          <%= link_to 'Remove',post_delete_image_path(@post,image),
                method: :delete, class:"delete_link_post_#{@post.id}_image_#{image}",
                data: { confirm: 'Are you sure?' }, remote: true %>
        <% end %>
      <% end %>
    </p>
    <p class="card-text" style="padding-left:7rem;">
    <%= form.file_field :images, multiple: :true, max: 10 , required: true, class:'select_files' %>
    </p>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit btn_text, to: :post, class:'submit' %>
  </p>
<% end %>
