<h3>Creating New Post</h3>
<%= form_with  model: @post, remote: true do |form| %>
  <%= render "devise/shared/error_messages", resource: @post %>

  <p>
    <%= form.label :images %><br>
    <p class="card-text">
      <% if @post.images.attached? %>
        <% (0...@post.images.count).each do |image|%>
          <%#= link_to 'Remove', onclick: @post.images[image].purge %>
          <%= image_tag(@post.images[image], width: 500 )%>
          <%= link_to 'Remove',to: @post.images[image].purge %>
        <% end %>
      <% end %>
    </p>
    <p class="card-text" style="padding-left:7rem;">
    <%= form.file_field :images, multiple: :true, max: 10 , required: true %>
    </p>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit btn_text, to: :post %>
  </p>
<% end %>
