<h3>Creating New Post</h3>
<%= form_with  model: @post do |form| %>

  <p>
    <%= form.label :images %><br>

    <p class="card-text">
      <% if @post.images.attached? %>
        <% (0...@post.images.count).each do |image|%>
          <%= image_tag(@post.images[image], width: 500 )%>
          <%= link_to 'Remove',to: @post.images[image].purge %>
        <% end %>
      <% end %>
    </p>
    <%= form.file_field :images, multiple: :true %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit controller.action_name == 'new' ? 'Create' : 'Update', to: :post %>
  </p>
<% end %>
