
<h1>HomePage</h1>

<%= link_to 'Profile', profile_path(account: current_account) %> |
<%= link_to 'Create Post', new_post_path %> |
<%= link_to 'Create Story', new_story_path %>
<%= form_with url: privacy_path, :id => "rsvp" do |form| %>
  <div class="form-check form-switch d-flex justify-content-start">
    <% if current_account.is_private  %>
      <%= form.submit 'true', class:"form-check-input", type:"checkbox", id:"flexSwitchCheckDefault",
        checked: true, :onclick => "$('#rsvp').submit()"
      %>&nbsp;
      <%= form.label:Private, class:"form-check-label", for:"flexSwitchCheckDefault" %>
    <% else %>
      <%= form.submit 'false', class:"form-check-input", type:"checkbox", id:"flexSwitchCheckDefault",
        checked: false, :onclick => "$('#rsvp').submit()"
      %>&nbsp;
      <%= form.label:Public, class:"form-check-label", for:"flexSwitchCheckDefault" %>
    <% end%>
  </div>
<% end %>
<div class="d-flex">
  <div class="card" >
    <div class="card-header">
      <%= form_with url: search_path, local:true, method: :get, class:"form-inline" do |form| %>
        <%= form.text_field :username, class:"form-control mr-sm-2", placeholder:"Search" %>
        <%= form.submit 'Search', to: search_path , class:"btn btn-outline-success my-2 my-sm-0"  %>
      <% end %>
    </div>
      <div class="card-header">
        Stories
      </div>
      <div class="overflow-auto">
        <ul class="list-group">
          <% if @stories.size > 0 %>
            <%= render @stories %>
          <% else %>
            <p><strong>No Stories to show</strong></p>
          <% end %>
        </ul>
      </div>

  </div>
  <div class=" container d-table-caption">
    <div class = "centralize" >
      <%#<div><h1>Posts</h1></div>%>

    <div  class="card-header " >
      <%= render @posts %>
    </div>
    </div>
  </div>
  <div class="card col-2" >
    <div class="card-header">
      Requests
    </div>
    <div class="overflow-auto">
      <ul class="list-group">
        <% if @requests.size > 0 %>
          <%= render @requests %>
        <% else %>
          <p><strong>No Requests Pending</strong></p>
        <% end %>
      </ul>
    </div>
  </div>

</div>
