<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "container-fluid justify-content-around text-center">
    <%if account_signed_in? %>
      <nav class="navbar navbar-light">
        <a class="navbar-brand">Instagram Clone</a>
      </nav>
      Signed in as  <%= current_account.email %>. Not you? <%= link_to 'Sign out', destroy_account_session_path , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <!-- Image and text -->
      <nav class="navbar navbar-light fs-9">
        <a class="navbar-brand" href="#">
          Instagram Clone
        </a>
      </nav>
      <%= link_to 'Sign Up', new_account_registration_path %> or <%= link_to 'Sign in', new_account_session_path %>
    <% end %>
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
