
<li class="list-group-item">
  <strong><%= account.email %></strong>
  <%= form_with model: Request do |form| %>
    <%= hidden_field_tag(:recipient_id, account.id) %>
    <%= current_account %>
    <%= form.submit 'Follow', to: :request %>
  <% end %>
</li>
