<div class="col">
  <div class="card-header">
    <h5 class="title <%= class_name %>_count"><strong><%= label %> (<%= list.size %>) <strong></h5>
  </div>
  <ul class="list-group list-group-flush <%= class_name %>_list">
    <% list.each do |acc|%>
      <li class="list-group-item followee_<%= acc.id %>"><%= link_to "#{acc.email}", profile_path(account: acc) %></li>
    <% end %>
  </ul>
</div>
